<!-- views/math.ejs -->

<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
    <h1> Here is your postage rate!<br/></h1>
    <h2>Weight:</h2> <p><%= weight %> oz<br></p>
    <h2>Mail Type:</h2> <p><%= mailType %><br></p>
    <h2>Rate:</h2> <p>$<%= rate %><br></p>
</body>

</html>
