<!-- views/math.ejs -->

<!DOCTYPE html>
<html>

<head>
    <title>Postage Rate</title>
    <style>
        span { color: red; }
    </style>
    <script>
        // do whatever
    </script>
</head>

<body>
    Weight: <span><%= weight %> oz</span><br>
    MailType: <%= mailType %><br>
    Rate: <%= rate %><br>
</body>

</html>
