<!-- views/math.ejs -->

<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
    <h1>Here is your postage rate!<br/></h1>
    <p>
    Weight: <%= weight %> oz<br>
    Mail Type:<%= mailType %><br>
    Rate:$<%= rate %><br>
    </p>
</body>

</html>
