<!-- views/math.ejs -->

<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
    Weight: <%= weight %> oz<br>
    MailType: <%= mailType %><br>
    Rate: <%= rate %><br>
</body>

</html>
