body {
  margin: 20px;
  padding: 50px;
  border: 50px;
  background-image: url(combined_3.jpg);
  background-repeat: no-repeat;
  background-color: #C0C0C0;
  background-size: 100%;
  font-size: 16px;
  font-weight: bold; 
  font-family: Arial, Helvetica, sans-serif;
  color: #00008B;
}

h1 {
  font-family: Jazz LET, fantasy;
  font-size: 30px;
  colcr: #7FFF00;
}

h2 {
  font-family: Trattatello, fantasy;
  font-size: 26px;
  colcr: #7FFF00;
}

p {
  font-family: Chalkduster, fantasy;
  font-size: 20px;
  colcr: #7FFF00;
}